{# PAGINATION
	
For this pagination to work properly, we need to be sure to set
the paginateBase variable in the template we are including the 
pagination in.

{% set paginateBase = "/blog/p" %}
#}

{% if paginate.totalPages > 1 %}
<ul class="pagination">
	{% if paginate.currentPage != "1"  %}
		<li><a href="{{ paginateBase ~ '1' }}">First Page</a></li>
	{% endif %}

	{% if paginate.prevUrl %}
		<li><a href="{{ paginate.prevUrl }}">Previous</a></li>
	{% endif %}

	{% for pageNumber in 1..paginate.totalPages %}
		<li {% if paginate.currentPage == pageNumber %}class="current"{% endif %}>
			<a href="{{ paginateBase ~ pageNumber }}">{{ pageNumber }}</a>
		</li>
	{% endfor %}

	{% if paginate.nextUrl %}
		<li><a href="{{ paginate.nextUrl }}">Next</a></li>
	{% endif %}

	{% if paginate.currentPage != paginate.total %}
		<li><a href="{{ paginateBase ~ paginate.total }}">Last Page</a></li>
	{% endif %}
</ul>
{% endif %}


