<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	{#
	<!--[if lt IE 9]>
	<script src="/assets/js/libraries/modernizr-html5.js"></script>
	<![endif]-->
	#}
	
</head>
<body>

	<header>		
		<nav>
			<ul>
				<li>
					<a href="/">Home<span>&rsaquo;</span></a>
				</li>
				<li>
					<a href="/blog">Blog <span>&rsaquo;</span></a>
				</li>
			</ul>
		</nav>
	</header>
		
	{% block content %}
		{% exit 404 %}
	{% endblock %}

	<div class="row">
		<div class="columns">
			<footer>
					&copy;{{ now.year }} {{ siteName }}
			</footer>
		</div>
	</div>

	{#  Javascript at the bottom for fast page loading  #}

	{#  Grab Google CDN's jQuery. fall back to local if necessary
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/libraries/jquery.js"%3E%3C/script%3E'))</script>
	#}

  {# Only display tracking code on live site
	{% if craft.config.env == 'live' and not craft.request.isLivePreview %}
	<script type="text/javascript">
	    
	    // Tracking code
	    
	</script>
	{% endif %}
	#}
	
</body>
</html>